Dump/
2_AREnergyConsumption/EnergyConsumptionApp/.vs/
2_AREnergyConsumption/EnergyConsumptionApp/Temp/
2_AREnergyConsumption/EnergyConsumptionApp/Library/ShaderCache/
2_AREnergyConsumption/EnergyConsumptionApp/Library/metadata/
2_AREnergyConsumption/EnergyConsumptionApp/Library/PlayerDataCache/
